/* index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --vh: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: #f5f5f5;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.8em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #12273d;
  color: white;
  cursor: pointer;
  /* width: 100%; */
  max-width: 320px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 122, 255, 0.3);
}

h1 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0;
  padding: 1rem 0;
}